
.rojo {
    background: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    
}

.verde {
    background: green;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
}

.amarillo {
    background: yellow;
    width: 100px;
    height: 100px;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0;

}

.naranja {
    background: orange;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}
